<app-header></app-header>

<mat-card class="dokme-card" *ngIf="item">
  <mat-card-title-group>
    <mat-card-title>{{ item.title }}</mat-card-title>
    <mat-card-subtitle>{{ item.createdAt | durationDate }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <p>{{ item.description }}</p>
    <app-url-preview [data]="getUrlMetadata(item)"></app-url-preview>
  </mat-card-content>
  <mat-card-actions>
    <div fxFlex="row" fxLayoutAlign="center center">
      <button
        mat-fab
        color="warn"
        aria-label="dokme siktir"
        [matBadge]="item.siktirCount"
        matBadgeSize="large"
        matBadgeOverlap="false"
        (click)="dokmeSiktirHandler(item.id)"
        [disabled]="canSiktir(item.id)"
      >
        <mat-icon> room_service </mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<mat-card class="dokme-card" *ngIf="!item">
  <mat-card-title-group>
    <mat-card-title>dokme not found</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <p>dokme is expire</p>
  </mat-card-content>
</mat-card>
