<section fxLayout="row wrap" class="url-card" >
  <img class="image" [src]="data.img" fxFlex="30" />
  <div fxFlex="70" fxLayout="column" fxLayoutAlign="space-around center">
    <span>
      <button mat-button (click)="goToUrl(data.url)">
        <img
          class="icon"
          [src]="navigationService.TransformToSafeUrl(data.icon)"
          alt="website icon"
        />
        <span>{{ data.hostname }}</span>
      </button>
    </span>
    <span class="title">{{ data.title }}</span>
  </div>
</section>
