.dokme-card {
  max-width: 100%;
  margin-bottom: 10px;
}

.filter-card {
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;

}

mat-card-title-group{
  padding-left: 15px;
}

mat-card-content{
  margin-top: 15px;
}

