<mat-card appearance="outlined" class="filter-card">
  <mat-card-content fxFlex="row" fxLayoutAlign="start center">
    <mat-form-field >
      <mat-label>Filter</mat-label>
      <mat-select (valueChange)="filterChange($event)">
        <mat-option *ngFor="let type of filterType.asList" [value]="type.value">
          {{ type.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<mat-card appearance="outlined" class="dokme-card" *ngFor="let item of dokmeList">
  <mat-card-title-group>
    <mat-card-title>{{ item.title }}</mat-card-title>
    <mat-card-subtitle>{{ item.createdAt | durationDate }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content fxLayout="column">
    <div fxFlex="row" fxLayoutAlign="center center">
      <button
        mat-fab
        color="warn"
        aria-label="dokme siktir"
        [matBadge]="item.siktirCount"
        matBadgeSize="large"
        matBadgeOverlap="false"
        (click)="dokmeSiktirHandler(item.id)"
        [disabled]="canSiktir(item.id)"
      >
        <mat-icon> room_service </mat-icon>
      </button>
    </div>
    <p>{{ item.description }}</p>
    <app-url-preview [data]="getUrlMetadata(item)"></app-url-preview>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="goToDokme(item.id)">
      <mat-icon>open_in_new</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="moreMenu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
      <button
        mat-menu-item
        [cdkCopyToClipboard]="GetAbsoloteUrlOfDokme(item.id)"
      >
        <mat-icon>content_copy</mat-icon> <span>Copy Link</span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
